@import "tailwindcss";

@theme {
  /* Colors */
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.5% 0.014 285.82);

  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(14.5% 0.014 285.82);

  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(14.5% 0.014 285.82);

  --color-primary: oklch(20.5% 0.014 285.82);
  --color-primary-foreground: oklch(98.5% 0 0);

  --color-secondary: oklch(96.9% 0.003 264.54);
  --color-secondary-foreground: oklch(20.5% 0.014 285.82);

  --color-muted: oklch(96.9% 0.003 264.54);
  --color-muted-foreground: oklch(55.6% 0.015 285.94);

  --color-accent: oklch(96.9% 0.003 264.54);
  --color-accent-foreground: oklch(20.5% 0.014 285.82);

  --color-destructive: oklch(57.7% 0.245 27.33);
  --color-destructive-foreground: oklch(98.5% 0 0);

  --color-border: oklch(91.4% 0.007 264.54);
  --color-input: oklch(91.4% 0.007 264.54);
  --color-ring: oklch(70.9% 0.01 286.07);

  /* Border Radius */
  --radius-lg: 0.5rem;
  --radius-md: calc(var(--radius-lg) - 2px);
  --radius-sm: calc(var(--radius-lg) - 4px);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
